# Moodle
MOODLE_HOST=https://aula.scu.sld.cu
MOODLE_TOKEN=your_webservice_token_here
MOODLE_USER=your_username
MOODLE_PASS=your_password

# Bot
BOT_EMAIL=bot@tudominio.cu        # Dirección Delta Chat del bot (para el botón Eliminar)
MAX_FILE_SIZE_MB=999
PART_SIZE_MB=99
UPLOAD_DELAY_SECONDS=2
LOG_LEVEL=INFO
